<section class="product">
  <div class="product-top">
    <app-product-carousel [images]="product?.imageUrls"></app-product-carousel>
    <app-product-summary [product]="product"></app-product-summary>
  </div>

  <div class="product-bottom">
    <app-product-details [details]="product?.details">
      <div class="description">
        <span>
          So light and comfy, you'll love the Radiant Tee's organic fabric, feel, performance and style.
          You may never want to stop moving in this shirt.
        </span>
        <ul>
          <li>Salmon soft scoop neck tee.</li>
          <li>Athletic, semi-form fit</li>
          <li>Flat seams prevent chafing.</li>
          <li>67% Organic Cotton / 28% Hemp / 5% Spandex</li>
        </ul>
      </div>
    </app-product-details>
  </div>
</section>

<section class="reviews">
  <app-review-list [reviews]="reviews"></app-review-list>
  <app-review-form></app-review-form>
</section>

<section class="other-product-proposals">
  <app-product-preview-list title="We found other products you might like" [products]="ohterProductPropsals">
  </app-product-preview-list>
</section>

<section class="banner">
  <app-banner backgroundUrl="/assets/images/baner-img.png">
    <span class="title-small">SALES</span>
    <span class="title-big">Eco-friendly</span>
  </app-banner>
</section>

<section class="similar-products">
  <app-product-preview-list title="Similar products" [products]="similarProducts">
  </app-product-preview-list>
</section>